@charset "UTF-8";
footer .cnt{
    height: auto !important;
}
.form .inner form input[type="tel"] {
    width: 80px;
}
.ft-link{
    padding:20px 0 0;
    clear: both;
}
.ft-link ul{
    max-width: 870px;
    text-align: center;
}
.ft-link li{
    padding:0 10px;
    display: inline;
    border-left: 1px solid #CCC;
}
.ft-link li:last-child{
    border-right: 1px solid #CCC;
}
.ft-link li a{
    color: #666;
}
.ft-link li a:hover{
    text-decoration: underline;
}
form th{
    vertical-align: top;
}
/* .disabled がつかないからスタイル調整*/
.slider .owl-nav {
    display: block !important;
    position: relative;
    margin-top: -130px;
}
.adjastform01{
    display: table;
    overflow: hidden;
}
    .adjastform01 .left{
        vertical-align: top;
        display: table-cell;
        padding-right:20px;
    }
    .adjastform01 .right{
        vertical-align: top;
        display: table-cell;
    }
.emes {
    padding:5px 0 0;
    font-size: .8em;
    color: #F00;
    line-height:1;
}
.form_confirm_header{
    border-bottom:4px solid #063156;
}

    .form.form_confirm .inner{
        margin-top:80px !important;
    }

    .form_confirm .cTxt{
        width: 90%;
        padding:50px 0 0;
        margin: 0 auto;
    }
    .form_confirm table,
    .form_confirm table th,
    .form_confirm table td{
        border:1px solid #07487f;
    }
    .form_confirm table th{
        padding:0 40px 0 0;
        background: #063156;
        color: #FFF;
    }
    .form_confirm .form-btn{
        margin: 0 auto;
    }
    .form_confirm .form-btn .back{
        background-color:#CCC !important;
    }
    .form_confirm .form-btn .back:hover {
        opacity: 0.7;
        transition-duration: 0.3s;
        background-color: #CCC;
        color: #fff;
    }

.form_thanks_header{
    border-bottom:4px solid #063156;
}
    .form.form_thanks .inner{
        margin-top:150px !important;
        margin-bottom:150px !important;
    }
    .form.form_thanks .form-btn{
        padding:40px 0 0;
    }

    .form.form_thanks .form-btn a{
        background-color: #063156;
        color: #fff;
        padding: 6px 10px;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        margin: 0 10px;
        letter-spacing: 1px;
        vertical-align: bottom;
    }
    .form.form_thanks .form-btn a:hover {
        opacity: 0.7;
        transition-duration: 0.3s;
        background-color: #34B1B5;
        color: navy;
    }


@media (max-width: 959px) {

    .adjastform01 {
        display: block;
    }
    .adjastform01 .left{
        display: block;
        padding-right:0px;
    }
    .adjastform01 .right{
        display: block;
    }

    .form.form_confirm .inner .btn{
        width: 90%;
    }
    .btn{
        width: 100% !important;
    }
    .form.form_confirm .inner {
        margin-top: 160px !important;
    }
    .form_confirm table,
    .form_confirm table th,
    .form_confirm table td{
        border:none;
    }
    .form_confirm table th{
        padding:0 40px 0 0;
        background: #063156;
        color: #FFF;
    }
    .slider.owl-carousel .owl-dots{
        text-align: center;
        width: 100%;
    }
}

