@charset "UTF-8";

/*
1.Reset
2.Common style
*/

/*
** 1.Reset
*/

@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

body
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: "Noto Sans JP", YuGothic, "Yu Gothic", "Yu Gothic UI", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Arial, sans-serif;
-webkit-text-size-adjust:100%;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

a:link {
      text-decoration: none;
      color: inherit;
      color: initial;
}
a:visited {
      text-decoration: none;
      color: inherit;
      color: initial;
}

a:hover {
      text-decoration: none;
      color: inherit;
      color: initial;
}

a img {
      border-width: 0px;
      border-style: none;
      border-color: #fff;
      background: transparent;
}

a img, img {
  outline:none;
}

*:focus {
  outline: none;
}
header h1 {
    margin: 0 218px 0 10px;
}

$green: #34B1B5;
$navy: #063156;
$width: 1000px;
$spwidth: 959px;
$yu: Yu gothic;
$noto: 'Noto sans JP';
$mincho: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
/*
** 2.style
*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body{
  font-family: "Noto Sans JP", YuGothic, "Yu Gothic", "Yu Gothic UI", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  // color: rgb(6, 49, 86);
  color: #00a99e;
  line-height: 26px;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-feature-settings: "palt";
  margin: 0px;
}
.cnt{width: $width;margin: 0 auto;}
.inner{width: $width;margin: 0 auto;}

#mailformpro {
    margin: 0px auto 30px;
}

.wrp-btn{
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
  height: 90px;
  margin: 50px auto;
}
.commentout{
  .wrp-btn{
    margin:10px auto 25px;
  }
}

.reg_link {
  width:100%;
  height:69px;
  border-bottom-left-radius:10px;
  background-color:#ffffff;
  color:#FE800B;
  padding-top:20px;

}
.reg_link_text {
  height:60px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size:20px;
  letter-spacing:1px;
  display:block;
  margin-top:-5px;
  text-align:center;
}
.reg_link_text a {
  color:#00a99e;
  font-weight:bold;
}
.reg_link_text a:hover{
  text-decoration:underline;
}
.reg_title {
  width:100%;
  height:31px;
}
.reg_title_text {
  height:30px;
  font-family: 'Noto Sans JP', sans-serif;
  display:block;
  margin-top:10px;
  font-weight:bold!important;
  text-align:center;
}
.ten_count {
  font-size:20px;
  font-weight:bold!important;
}
.reg_main {
  width:215px;
  height:130px;
  background-color:#00a99e;
  position:fixed;
  right:0px;
  bottom:35px;
  z-index:98;
  color:#ffffff;
  font-weight:bold;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  box-shadow:-4px 4px 8px -1px gray;
}
/* .bg-sky {
  background-color:#FE800B!important;
} */
.cv span em {
  color:#FE800B!important;
}
.adjastform01 .left {
  padding-right: 0px;
}
@media  screen and (min-width: 960px) {
  .reg_main {
    display:block;
  }
  .gotop {
    bottom:170px!important;
  }
}
@media  screen and (max-width: 959px){
  .reg_main {
    display:none;
  }
}
td div.flexWrapper {
  display: flex;
}
table tr p {
  width: 50px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}
@media  screen and (max-width: 860px){
  div.flexWrapper {
    flex-direction: column;
  }
  div.flexWrapper .item {
    padding-bottom: 10px;
  }
}


section .btn{
  position: relative;
  &:before{
    content: '';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    position: absolute;
    z-index: 1;
    right: 60px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &:after{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-top: 3px solid #fff;
    border-right: 4px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 76px;
    top: 0;
    bottom: 0;
    margin: auto;
  }


  & a:hover>.back{width: 100%;transition-duration: 0.3s;}
  width: 750px;
  text-align: center;
  position: relative;
  margin: 0px -25px;
  p{
    font-family: $yu,'Noto sans JP';
    width: 700px;
    font-size: 19px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 25px;
    span{
      font-size: 29px;
      font-weight: 500;
    }
  }
  .front{
    background-color: #00a99e;
    color: #fff;
    padding: 5px 0;
    border-radius: 12px;
    &:before{
      content: url(../images/arrow-white.png);
      position: absolute;
      left: 50px;
      top: 30px;
    }

  }
  .back{
    background-color: #c4ff00;
    color: #00a99e;
    position: absolute;
    top: 0;
    width: 20%;
    overflow: hidden;
    padding: 4px 0;
    transition-duration: 0.3s;
    transform: skewX(-30deg);

    p{
      transform: skewX(30deg);
    }
    &:before{
      content: url(../images/arrow-green.png);
      position: absolute;
      left: 50px;
      top: 30px;
      transform: skewX(30deg);
    }
  }
  .deco{
    position: absolute;
    top: 20px;
    font-size: 26px;
    left: 70px;
    transform: skewX(30deg);
  }
}

/* header */
header{
  .cnt{
    padding: 19px;
  }
  .logo{
    width: 180px;
    // vertical-align: bottom;
  }
  h1,p{
    color: #666666;
    font-size: 11px;
    line-height: 15px;
    display: inline-block;
  }
  .tel{
    display: inline;
    a{
      cursor: default;
      pointer-events: none;
      color: $navy;
    }
    span{letter-spacing: 1px;}
    em{
      color: #00a99e;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 10px;
    }
  }
  .btn{
    background-color: $green;
    color: #fff;
    padding: 6px 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 10px;
    letter-spacing: 1px;
    vertical-align: bottom;
    &:hover{opacity: 0.7;transition-duration: 0.3s;}
  }
}

.main-visual{
  height: 470px;
  background-image: url(../images/bg-main-pc-rpa1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

main{

}

.intro-case{
  background-image: url(../images/bg-intro-rpa1.jpg);
  background-repeat: no-repeat;
  position: center top;
}

.intro{
  color: #000000;
  h2{
    font-size: 25px;
    font-family: $mincho,$noto;
    font-weight: 500;
    text-align: center;
    line-height: 56px;
    padding: 60px 0 40px;
    em{
      font-size: 35px;
      font-weight: bold;
      line-height: 1.2em;
    }
  }
}

.case{
  .box{
    background-color: #fff;
    position: relative;
    padding: 50px;
    -moz-box-shadow: -2px 3px 44px -10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: -2px 3px 44px -10px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: -2px 3px 44px -10px rgba(0, 0, 0, 0.8);
    box-shadow: -2px 3px 44px -10px rgba(0, 0, 0, 0.8);
    margin-bottom: 70px;
    h3{
      font-size: 24px;
      color: #000;
      padding: 0 0 30px;
      float: left;
      width: 650px;
      small{font-size: 17px;}
      .category{
        color: $navy;
        margin-right: 30px;
      }
    }
    h4{
      height: 40px;
      line-height: 30px;
      background-color: #F6F6F6;
      display: inline-block;
      .tab{
        background-color: #00a99e;
        color: #fff;
        padding: 5px 28px;
        position: static;
        display: inline-block;
      }
      .before{
        color: #666;
        font-size: 24px;
        padding: 0 20px;
        font-weight: bold;
        position: relative;
        vertical-align: middle;

        &:after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 0 8px 13px;
          border-color: transparent transparent transparent #063156;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -5px;
          margin: auto;
        }

      }
      .after{
        color: #ED1C24;
        font-size: 28px;
        padding: 0 20px;
        font-weight: bold;
        vertical-align: middle;
      }
    }
    .left{
      display: flex;
      width: 640px;
      float: left;
      img{width: 131px;height:138px;}
      p{font-size: 12px;font-family: $yu, $noto; color: #000;padding: 10px 0;font-weight: 500;}
      article{
        padding: 0 20px;
      }
    }
    .tab{
        background-color: #00a99e;
        color: #fff;
        padding: 10px 20px;
        position: absolute;
        left: 30px;
        top: -30px;
      }
  }
}
.characteristic img {
  padding-top: 200px;
  width: 100%;
}

.banner{
  background-color: #00a99e;
  color: #fff;
  text-align: center;
  p{
    font-family: $mincho;
    font-size: 26px;
    letter-spacing: 4px;
    span{border-bottom: 1px solid #fff;}
  }
  em{
    font-size: 60px;
    line-height: 100px;
    vertical-align: middle;
    padding: 0 12px;
  }
}

.pickup{
  background-image: url(../images/bg-pickup.jpg);
  .inner{
    width: 940px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h2{
    background-color: #00a99e;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 5px 0;
    width: 940px;
    margin: 0 auto 20px;
    letter-spacing: 8px;
  }
}

.pickup_work{
  width: 940px;
  display: flex;
  justify-content: space-between;
  .owl-nav.disabled{
    display: block !important;
    position: relative;
    margin-top: -130px;
  }
  .owl-prev{
    border-right: 2px solid #063156 !important;
    border-top: 2px solid #063156 !important;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position:absolute;
    left: -30px;
  }

  .owl-next{
    border-right: 2px solid #063156 !important;
    border-top: 2px solid #063156 !important;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position:absolute;
    right: -30px;
  }
  ul{
    border-top: solid 1px #c3c3c3;
    border-bottom: solid 1px #c3c3c3;
    width: 960px;
    padding: 5px 0 3px;
  }
  .owl-item{
    transition: all .2s ease;
  }
  .owl-item:hover{
    border-bottom: solid 4px #063156;
    transition: all .2s ease;
  }
  li{
    background-color: #fff;
    width: 300px;
    margin-bottom: 20px;
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    transition: all .2s ease;
    a{
      display: block;
      background: #FFF;
      padding: 28px 23px 23px;
      margin: 0 8px;
      text-align: left;
      min-height: 196px;
      position: relative;
    }
    h3{
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 1px;
      margin-bottom: 12px;
      &:before{
        content: url(../images/new.svg);
        width: 36px;
        height: 18px;
        margin-right: 8px;
        vertical-align: middle;
        display: inline-block;
      }
    }
    .salary{
      color: #f66460;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .details{
      width: 100%;
      li{
        width: 250px;
        padding: 5px 0;
        &:hover{
          border-bottom: none;
        }
      }
    }
    .details:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 92%;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 13px 13px;
      border-color: transparent #063156 #063156 transparent;
      justify-content: space-between;
    }
    .details li:before{
      width: 19px;
      height: 10px;
      padding-left: 1px;
      padding-right: 10px;
      display: inline-block;
      vertical-align: text-top;
    }
    .salary:before{
      content: url(../images/icon_work01.svg);
      width: 28px !important;
      height: 23px !important;
    }
    .type:before{content: url(../images/icon_work02.svg);}
    .period:before{content: url(../images/icon_work03.svg);}
    .place:before{content: url(../images/icon_work04.svg);}

  }
}

.data{
  background-image: url(../images/bg-tokutyo-rpa1.jpg);
  background-position: top;
  color: #fff;
  .inner{padding: 50px 0;}
  h2{
    font-size: 30px;
    font-family: $yu;
    letter-spacing: 5px;
    text-align: center;
    line-height: 50px;
    .red{
      font-size: 42px;
      font-weight: bold;
      color: #ED1C24;
    }
    .green{
      font-size: 42px;
      font-weight: bold;
      color: $green;
    }
  }
  h3{
    font-family: $mincho;
    font-size: 25px;
    line-height: 50px;
    border-bottom: 2px solid #fff;
    padding-bottom: 18px;
  }
  .left,.right{
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0;
    .box{width: 665px;}
    p{
      line-height: 30px;
      padding-top: 30px;
    }
  }
}

.follow{
  padding: 30px 0;
  p{font-size: 35px;}
}

.flow{
  background-image: url(../images/bg-flow.jpg);
  background-size: cover;
  padding: 50px 0;
  a{
    color: #063156;
    border-bottom: solid 1px #063156;
  }
  .sp_h2{
    display: none;
  }
  .pc_h2{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    color: #063156;
    em{font-size: 28px;font-weight: bold;}
  }
  .flow-list{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    h3{
      font-weight: bold;
      &:after{
        content: '';
        height: 3px;
        width: 16px;
        background-color: #B3B3B3;
        display: block;
        margin-top: 10px;
      }
    }
    li{
      width: 226px;
      display: block;
      background: #FFF;
      padding: 27px 20px 0px;
      margin: 0 8px;
      text-align: left;
      min-height: 196px;
      position: relative;
      box-sizing: border-box;
      &:after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 0 30px 18px;
        border-color: transparent transparent transparent #00a99e;
        display: block;
        position: absolute;
        right: -18px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:last-child:after{
        content: none;
      }
      p{
        font-size: 13px;
        padding: 10px 0;
        color: #000;
      }
      img{
        position: absolute;
        width: 60px;
        height: 60px;
        display: block;
        right: 10px;
        top: 10px;
      }
    }
    .tab{
      background-color: #00a99e;
      color: #fff;
      padding: 10px 20px;
      position: absolute;
      left: 30px;
      top: -30px;
    }
  }
}
.form_temp {
    padding: 0px!important;
}

.inner_temp {
    width: 100%!important;
    border-radius: 0px!important;
}

.btn_temp {
    width: 100%!important;
    border-radius: 0px!important;
}
.btn_35 {
    font-size: 35px!important;
    margin: 30px auto 0px;
}
.flow_main {
    margin-bottom: 30px!important;
}

.form{
  .inner{
    margin-top: -5px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
   .sp_h3{
     display: none;
   }
    .pc_h3 {
      padding: 20px 0;
      color: #000;
    }
    .btn{
      background-color: #00a99e;
      color: #fff;
      padding: 12px 20px;
      border-radius: 8px;
      width: 800px;
      margin: 0 auto;
      &:before,&:after{content: none;}
      p{
        font-size: 22px;
        font-weight: bold;
        font-family: 'Noto Sans JP', sans-serif;
      }
      span{
        background-color: #fff;
        color: #00a99e;
        font-size: 15px;
        font-weight: bold;
        padding: 5px 20px;
        border-radius: 5px;
        margin-right: 20px;
        vertical-align: bottom;
      }
    }
    form{
      margin: 50px auto;
      table{
        width: 840px;
      }
      th{
        width: 170px;
      }
      input[type="number"] {
        width: 80px;
      }
    }
  }
}

footer{
  border-top: 4px solid #063156;
  color: #000;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;
  .cnt{height: 70px; width: 870px;padding: 30px 0;}
  .info_sp{
    display: none;
  }
  .info_pc{
    width: 390px;
    border-right: dotted #666 1px;
    padding: 10px 0 20px 30px;
    float: left;
  }
  .logo{
    width: 180px;
    float: left;
  }
  .iso{
    margin-left: 30px;
    padding-top: 10px;
    float: left;
  }
  .colophon{
    padding: 20px;
    text-align: center;
    border-top: 2px solid #000;
  }
}

#mfp_loading,#mfp_loading_screen,#mfp_overlay_background,#mfp_hidden{
  display: none;
}
form{
  table{margin: 0 auto;}
  tr{line-height: 50px;}
  th{text-align: right;font-weight: bold;}
  td{text-align: left;padding-left: 20px;}
  .mfp_err{
    display: block;
    color: red;
    line-height: 10px;
    font-size: 10px;
  }
  input,select{
    margin: 0 10px;
    padding: 5px;
    font-size: 14px;
    text-align: left;
    border-radius: 5px;
    background-color: #ebebeb;
  }
  .required:after{
    content: '必須';
    display: inline-block;
    font-size: 12px;
    width: 30px;
    height: 20px;
    color: #fff;
    background-color: #eda600;
    line-height: 20px;
    padding: 0 4px;
    text-align: center;
    margin-left: 5px;
    border-radius: 10px;
  }
  span{
    font-size: 12px;
  }
  button{
    background-color: #063156;
    color: #fff;
    padding: 10px 50px;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: $yu;
    cursor: pointer;
    transition-duration: 0.3s;
    &:hover{opacity: 0.7;transition-duration: 0.3s;background-color: $green;color: navy;}
  }
}
.gotop {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    z-index: 99;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.3s
}
.gotop:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-left: 3px solid #34b1b5;
  border-top: 3px solid #34b1b5;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.visible {
    opacity: 1;
    visibility: visible;
    transition-duration: 0.3s
}
.visible:hover {
    opacity: 0.8
}
.sp{display: none;}


@media (max-width: 959px){
.sp{display: block;}
.pc{display: none;}
header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fff;
  .logo{
    width: 38%;
    max-width: 150px;
  }
  .tel{
    display: inline-block;
    height: 35px;
    float: right;
    width: 170px;
    a{
      pointer-events: auto;
      display: inline-block;
    }
  }
  h1,{display: none;}
  .btn{display: none;}
  .cnt{
    padding: 15px 10px;
  }
}
main{
  margin-top: 62px;
}
  section{
    width: 100%;
    .btn:before,.btn:after{
      content: none;
    }
    .wrp-btn{
          max-width: 420px;
    }
    .btn{
      max-width: 420px;
      width: 100%;
      margin: 0 auto;
      & a:hover>.back{width: 30%;transition-duration: 0.3s;}
      p{
        width: 100%;
        font-size: 12px;
        padding-left: 0;
        span{font-size: 16px;}
      }
      .back{
        height: 100%;
        margin: 0px -10%;
        width: 30%;
        p{display: none;}
        .deco{
          display: inline;
          font-size: 14px;
          width: 60px;
          left: 25px;
        }
      }
    }

  }
  .inner{
    width: 100%;
  }
  .characteristic img {
    padding-top: 0;
  }

  .cnt{
    width: 100%;
    box-sizing: border-box;
  }
  .main-visual{
    height: auto;
    img{
      width: 100%;
    }
  }
  .wrp-btn{
    margin: 25px auto;
    width: 90%;
  }

  .intro{
    width: 90%;
    h2{
      font-size: 14px;
      line-height: 20px;
      // em{font-size: 16px;}
   }
    img{width: 100%;}
  }

  .data {
      background-image: none;
  }

  .case{
    .box{
      width: 90%;
      margin: 50px auto 0;
      padding: 50px 10px;
      padding: 10px;
      img{width: 100%;}
      h3{
        font-size:14px;
        text-align: center;
        width: 100%;
        padding-top: 24px;
        float: none;
        .category{
          display: block;
        }
      }
      h4{
        width: 100%;
        height: auto;
        float: right;
        text-align: center;
        .before{font-size: 16px;}
        .after{font-size: 16px;}
        .tab{font-size: 14px;width: 100%;text-align: center;padding: 0;}
      }
      .left{
        width: 100%;
        display: block;
        img{
          width: 100%;
          height: auto;
        }
        article{
         padding: 0;
         width: 100%;
        }
      }
    }
  }

  .banner{
  padding-top: 30px;
  }

  .pickup{
    .inner,h2{
      width: 100%;
    }

  }

  .slider.owl-carousel{
    .owl-nav{display: none !important;}
    .owl-dots{width: 50px;margin: 0 auto;}
     button.owl-dot{
      margin: 0 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
    }
    .owl-dot.active{
      background-color: $navy;
    }
  }
  .data{
    background-size: cover;
    h2{
      font-size: 16px;
      width: 90%;
      margin: 0 auto;
      line-height: 1.8rem;
      .green,.red{
        font-size: 24px;
      }
    }
    h3{
      font-size: 18px;
      line-height: 28px;
    }
    .left{
      display: block;
      padding: 30px 0 0;
      img{
        display:block;
        margin: 0 auto;
      }
      .box{
        width: 90%;
        margin: 20px auto;
        img{width: 100%;}
      }
    }
    .right{
      display: flex;
      flex-direction: column-reverse;
      padding: 30px 0 0;
      img{
        width: 100%;
        max-width: 221px;
        margin: 0 auto;
      }
      .box{
        width: 90%;
        margin: 20px auto;
      }
    }
  }

  .flow{
    .pc_h2 {
      display: none;
    }
    .sp_h2  {
      display: block;
      width: 90%;
      margin: 0 auto;
      font-size: 15px;
      color: #063156;
      text-align: center;
      em{
        font-weight: bold;
        font-size: 17px;
      }
    }
    .flow-list{
      display: block;
      margin-bottom: 0;
      li{
        width: 90%;
        margin: 0 auto 100px;
        &:after{
          margin: auto;
          right: 0;
          left: 0;
          bottom: -79px;
          top: auto;
          width: 0;
          height: 0;
          border-left: 40px solid transparent;
          border-right: 41px solid transparent;
          border-top: 30px solid #00a99e;
        }
      }
      li:last-child{
        margin-bottom: 50px;
      }
    }
  }

  .follow{
    .inner{
      width: 90%;
      margin: 0 auto;
    }
    p{
      font-size: 24px;
    }
  }
  .form .inner{
    width: 90%;
    margin: 0 auto;
    .pc_h3{
      display: none;
    }
    .sp_h3{
      display: block;
      padding: 20px 0;
      color: #000;
    }
    .btn{
      width: 100%;
      box-sizing: border-box;
      p{padding-left: 0;}
      span{
        display: block;
        margin: 0 auto;
      }
    }
    form{
      width: 100%;
      table{
        margin: 0 auto;
        width: 100%;
        table-layout: fixed;
      }
      tr{
        display: flex;
        flex-direction: column;
        th{
          width: 100%;
          text-align: left;
          background-color: #00a99e;
          color:#fff;
          padding-left: 10px;
          box-sizing: border-box;
          margin-top: 30px;
        }
        td{width: 100%;padding-left: 0;}
        input{
          // width: 100%;
          box-sizing: border-box;
        }
        input[type="number"] {
          width: 30%;
        }
        input[type="radio"]{
          width: 40px;
        }
      }
      span{
        display: block;
        padding-left: 20px;
      }
    }

  }
  footer{
    .cnt{
      width: 100%;
      height: auto;
    }
    .logo{
      float: none;
      display: block;
      margin: 0 auto;
    }
    .info{
      float: none;
      width: 100%;
      box-sizing: border-box;
      border-right: none;
      text-align: left;
    }
    .inner{margin-top: 30px;}
    .iso{
      float: none;
      margin: 0 auto;
      display: block;
    }
  }
  .conversion{
    background-color: rgba(255,255,255,0.7);
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    transition-duration: 0.3s;
    a{
      margin: 10px auto;
      display: block;
      width: 235px;
    }
    .btn{
      background-color: #34B1B5;
      color: #fff;
      padding: 10px 10px;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      border-radius: 5px;
      margin: 0 auto;
      letter-spacing: 1px;
      vertical-align: bottom;
    }
  }
  .hide{
    bottom: -50px;
    transition-duration: 0.3s;
  }
}

// .bg-sky {
// 	background-color: #FE800B!important;
// }

.free_font_23 {
	font-size:20px!important;
}

.merit_main {
	margin-bottom:20px!important;
}

#confirm table tr th, #confirm table tr td {
	padding-bottom: 0px!important;
}

@media screen and (min-width: 960px) {
	.merit_main {
		display:block!important;
	}
	.merit_main_sp {
		display:none!important;
	}
	.flow_main {
		line-height: 17px;
	}
	footer {
		margin-top: -53px;
	}
	.kakunin_sp {
		display:none!important;
	}
	.-kakunin_pc {
		display:block!important;
	}
}
@media screen and (max-width: 959px){
	.merit_main {
		display:none!important;
	}
	.merit_main_sp {
		display:block!important;
		width: 100%!important;
	}
	.form .inner form {
		margin-top:-20px!important;
	}
	form {
		padding-top:0px!important;
	}
	.form .inner form tr th {
		padding-top:0px!important;
	}
	.flow_main {
		line-height:12px;
	}
	.cTxt {
		padding-top:0px!important;
	}
	.btn_35 {
		font-size:25px!important;
		font-family: 'Noto Sans JP', sans-serif!important;
		font-weight:bold;
	}
	#formwrap {
		margin-top:30px;
	}
	.flow_step {
		margin-bottom:30px;
	}
	.flow_step_merit{
		width: 400px!important;
		margin: 0px auto;
	}
	.-kakunin_sp {
		display:block!important;
	}
	.kakunin_pc {
		display:none!important;
	}
	.visible {
		display:none;
	}
	.complate {
		width:31%;
	}
	.form.form_confirm .inner .btn {
	    width: 100% !important;
	}
	.btn_new {
		width: 100%;
		box-sizing: border-box;
		border-radius: 0;
		background-color: #063156;
		color: #fff;
		padding: 12px 20px;
		width: 800px;
		margin: 0 auto;
	}
	.btn_new span {
		background-color: #fff;
		color: #063156;
		font-size: 15px;
		font-weight: bold;
		padding: 5px 20px;
		border-radius: 5px;
		margin-right: 20px;
		vertical-align: bottom;
	}
	.usertitle {
		margin-top: 15px!important;
		margin-bottom: 15px!important;
	}
	.arrow_complete {
		width: 25%!important;
	}
}

@media (max-width: 680px){
  .pickup_work  {
    width: 100%;
    flex-direction: column;
     li {
       margin: 0 auto;
       margin-bottom: 20px;
     }
     .details li {
       margin-bottom: 5px;
     }
  }
}

@media screen and (max-width: 599px){
	.kakunin_sp {
		font-size:14px!important;
	}
  .flow_step_merit{
    width: 100%!important;
  }
.intro{
    h2 {
      em{font-size: 22px;}
      }
  }
  footer .colophon{
    padding: 20px 20px 60px 20px;
  }
  footer .info_pc {
    display: none;
  }
  footer .info_sp {
    display: block !important;
    width: 100%;
    padding-top: 30px;
    float: none;
    text-align: center;
  }
}


@media (min-width: 540px) and (max-width: 959px){
  header a{display: inline;float: right;}
  header .tel{float: right;}
}

@media (max-width: 959px){
.data .left p, .data .right p {
    padding-top: 15px;
    line-height: 1.4rem;
    font-size: 14px;
    }
}

@media (max-width: 959px){
.data h3 {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 10px;
    }
 .banner p span{
   display: block;
 }
}

@media screen and (min-width: 960px){
  .kakunin_sp {
    display: none!important;}
  .flow_main {
    line-height: 17px;
    }
}

/* IE11対応 */
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, .case .box h4 .before::after{top: 10px;} /* IE11 */
  *::-ms-backdrop, .case .box .left img{width:auto;height:auto;}
}
