@charset "UTF-8";

/* ------------------------------------
    * 99.common
* ------------------------------------ */
body{
}
/* header {
    margin-bottom: 0px;
} */
header .bg-w {
    position: initial;
}
header .head-top{
	padding: 12px 0;
	text-align: center;
}
header ul{
}
header ul li{
	display: inline-block;
}
header ul li+li{
	border-left: solid 1px #ccc;
	margin-left: 10px;
	padding-left: 22px;
}

td div.flexWrapper{
    display:flex;
}

.emes{
    color:#ff0000;
}

.emes.withLabel{
    padding-left:3em;
}

.invalid_field{
    background:#f8dada !important;
}

.cTxt{
    padding-top:20px;
}

.cmes{
    width:60%;
    padding:10px 5px;
    border:solid 1px #063156;
    margin:0 auto;
}

div.thanks{
    padding:30px 5px;
}

#confirm table tr th,#confirm table tr td{
    padding-top: 0;
    padding-bottom:22px;
}

@media screen and (max-width:860px){
    div.flexWrapper{
        flex-direction: column;
    }

    div.flexWrapper .item{
        padding-bottom:10px;
    }
}


@media screen and (max-width: 770px){
    .cmes{
        width:90%;
    }
}




/* sp */
@media screen and (max-width: 599px){
    div.thanks{
        padding:50px 5px;
    }

}

/* ------------------------------------
	* 00
* ------------------------------------ */
section.common_bg-dbl{
    padding: 20px 0;
}
section.common_bg-dbl p{}
section.common_bg-dbl h3{
	margin-top: 10px;
    font-size: 20px;
}
section.common_bg-dbl h3 span{
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding-left: 5px;
    vertical-align: top;
}


/* ------------------------------------
	* 01 form
* ------------------------------------ */
.form{
	padding: 30px 0 50px;
}
.current{
  color: #000;
  background: none;
}

/*-----
   form
 ---------*/
 form{
    padding: 45px 0 35px;
 }
table{
	width: 100%;
}
tbody{}
table tr{}
table tr th,table tr td{
	padding-top: 22px;
}
table tr th{
	position: relative;
	text-align: right;
    width: 25%;
	padding-right: 10px;
}
table tr td{
	text-align: left;
    font-size: 16px;
}
table tr p{
	width: 50px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}
table tr td small{
	display: inline-block;
    margin-left: 8px;
}

/*必須表記*/
table tr th .required{
	position: absolute;
	line-height: 0;
}
table tr th .required:before{
	content: "必須";
    display: inline-block;
    font-size: 12px;
    line-height: 0;
    width: 30px;
    height: 1px;
    margin-left: 3px;
    padding: 10px 4px;
    border-radius: 20px;
    color: #FFF;
    background: orange;
}

.form {
    position: relative;
    padding: 2.5% 2.5% 4%;
}
.form input{
	font-family: 'Noto Sans JP',YuGothic,'Yu Gothic','Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;
	display: inline-block;
	border: solid 1px #b7b7b7;
	background: #efefef;
	height: auto;
	width: 10em;
    font-size: 18px;
    transition: all .2s ease;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 7px;
}
.form input:focus {
    outline: none;
    background: none;
    border: solid 1px #9fcdd6;
}
.form input[type="checkbox"],
.form input[type="radio"] {
    width: 15px;
    height: 15px;
    margin: 0 0 0 10px;
    vertical-align: middle;
}
.form input[type="file"],
.form input[type="checkbox"],
.form input[type="radio"] ,
.form label{
	cursor: pointer;
}
.form input[type="file"]:hover,
.form input[type="checkbox"]:hover,
.form input[type="radio"]:hover,
.form label:hover{
}
.form input[type="file"] {
	width: auto;
    padding: 0 0 5px;
    font-size: 12px;
    background: none;
}

/*生年月日*/
.birth p{width: 22px; padding-right: 10px;}
.birth small{margin-left: -5px;}
.form input.year{width: 6em;}
.form input.month{width: 4em;}
.form input.day{width: 4em;}
/*性別*/
.form input.sex[type="radio"] {
    margin: 0 -7px 0 10px;
}
/*メールアドレス*/
.form input.address{width: 26em;}
/*電話番号*/
.form input.tel{
    margin-right: 6px;
    width:4.5em;
}

/* tab */
@media screen and (max-width: 959px) {}
/*sp*/
@media screen and (max-width: 599px) {
    table tr th, table tr td {
    	padding-top: 22px;
        width: 96%;
        margin: auto;
        padding: 15px 0 0;
        display: block;
        text-align: left;
    }
    .form input {
        width: 77%;
        margin-bottom: 7px;
    }
    /*メールアドレス*/
    .form input.address {
        width: 80%;
    }
}
/* sp-iPhone5- */
@media screen and (max-width: 320px){}


/* 送信ボタン */
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    background: #00a99e;
    color: #FFF;
    border: none;
    font-family: 'Noto Sans JP',YuGothic,'Yu Gothic','Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 2% 10px;
    border-radius: 5px;
    margin: 35px auto 0;
    cursor: pointer;
}
button:hover,
html [type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
    opacity: .6
}

/* 10秒で簡単登録ヘッダー */
.flow_main {
	max-width:700px;
	height:60px;
	margin:0px auto;
	margin-top:30px;
}
.flow_step {
	display: table;
	color:#00a99e;
	width:100%;
	height:100%;
}
.flow_step > li {
	display: table-cell;
	height:100%;
	text-align:center;
	font-weight:bold;
	font-family: 'Noto Sans JP', sans-serif;
	font-size:20px;
	vertical-align:middle;
}
.active_color {
	background-color:#c4ff00;
}
.active_color_con {
	background-color:#DBAA43;
}
.no_active_color {
	background-color:#B6B6B6;
}
.arrow1 {
	background-image:url(http://guitto.xsrv.jp/TEST/btc_for_engineer_lp/images/entry/arrow_active01_yellowish_green2.png);
	background-position:right top;
	background-repeat:no-repeat;
}
.arrow1_con {
	background-image:url(https://freeengineer.dev.btcagent.jp/img/entry/arrow_active01_con.png);
	background-position:right top;
	background-repeat:no-repeat;
}
.arrow2 {
	background-image:url(https://freeengineer.dev.btcagent.jp/img/entry/arrow_01.png);
	background-position:right top;
	background-repeat:no-repeat;
}
.arrow3 {
	background-image:url(https://freeengineer.dev.btcagent.jp/img/entry/arrow_02.png);
	background-position:right top;
	background-repeat:no-repeat;
}
.arrow4 {
	background-image:url(https://freeengineer.dev.btcagent.jp/img/entry/arrow_active02.png);
	background-position:right top;
	background-repeat:no-repeat;
}
.arrow4_con {
	background-image:url(https://freeengineer.dev.btcagent.jp/img/entry/arrow_active02_con.png);
	background-position:right top;
	background-repeat:no-repeat;
}
.last_arrow {
	height:60px;
	width:25px;
}
.merit_circle {
	border-radius: 50%;
	height: 52px;
	width: 52px;
	background-color:#ffffff;
	color:#37AFB3;
	font-size:14px;
	display:table-cell;
	vertical-align:middle;
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing:0px;
}
.merit_circle_con {
	color:#DCAB41;
}
.merit_main {
	max-width:1100px;
	height:60px;
	margin:0px auto;
	margin-top:20px;
	margin-left:-37px;
}
.merit_text {
	font-family: 'Noto Sans JP', sans-serif;
	color:#ffffff;
	font-size:18px!important;
	text-align:left!important;
}
.merit_li {
	width:62px;
}
.merit_main_sp {
    max-widht:599px;
    margin:0px auto;
    margin-top:30px;
    width:73%;
}
.arrow_complete {
    width:29%;
}
@media screen and (min-width: 600px) {
    .merit_main_sp {
        display:none;
    }
    section.common_bg-dbl h3 {
        font-size:35px!important;
    }
}
@media screen and (max-width: 599px) {
    .merit_main {
        display:none;
    }
    .merit_main_sp {
        display:block;
    }
    section.common_bg-dbl h3 {
        font-size:25px!important;
    }
    .flow_step > li {
        font-size:14px;
    }
    .kakunin_p {
		font-size:14px!important;
	}
    .merit_circle {
        font-size:9px;
    }
    .merit_text {
        font-size: 14px!important;
    }
}
